#video, #preview {
    display: none;
}

.li-storage {
    list-style-type: none;
}

.key-word {
    font-size: 64px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}