.input {
    position: relative;
}

.input-item {
    position: absolute; 
    top: 0; 
    left: 0; 
}

#p5Canvas {
    z-index: 1;
}

#textarea {
    z-index: 2;
    width: 495px;
    height: 495px; 
    opacity: 0;
}
