/*
html {
    background-color: antiquewhite;
}
*/

#video, #preview {
    display: none;
}

.container {
    display: flex;
}

#anker {
    margin-left: 20px;
}

#js-textarea {
    font-size: 16px;
}

#js-output {
    font-size: 64px;
}